body{
	background-color: #d2b48c

}



#rodape{
	 background-color:#675c47
	 color:#efe5d0
	 padding:15px

  }

h1{
  color:#675c47
	margin-right:50px;
   margin-left: 50px;
    text-align: center;
    font-size: 50px;

}
em strong{
	color:blue
}


p{
    margin-right: 200px;
    margin-left: 200px;
    text-align: center;
    color:
}
